body {
  margin: 0;
  padding: 0;
  background-color: #fff9e6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}

.envelope {
  font-size: 5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.envelope:hover {
  transform: scale(1.1);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.popup-content {
  background-color: #ffe6ef;
  color: #5b4b4b;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 60%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

button {
  background: none;
  border: none;
  font-size: 2rem;
  margin-top: 20px;
  color: #8b5e83;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .popup-content {
    width: 90%;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .envelope {
    font-size: 4rem;
  }
}
